@{
    ViewBag.Title = "Home";
}

<div class="index-image">
    <img src="~/Content/racing-dynamics-high-resolution-color-logo.jpg" class="background-image" alt="Background Image" />
</div>

<div class="index-container">
    <p class="titlu-index"> Are you passionate about cars? We got something you might be interested in!</p>
    <p class="text-index"> Here you'll find all sorts of cars and pretty much all about them (or pretty much everything important)</p>
    <p class="motto-index"> We are <i><b>Racing Dynamics</b></i></p>
</div>